*.*~
*.log
*.txt
!Ntupler/scripts/requirements-vrslim.txt
*.out
*.root
#*.*#
*.pyc
.pytest_cache/
__pycache__/
__init__.py
.DS_Store

Ntupler/data/InclParticleTransformer-MD/ak8/V02/
Ntupler/data/InclParticleTransformer-MD/ak8/V02-N/
Ntupler/data/InclParticleTransformer-MD/ak8/V02-HidLayer*/
Ntupler/data/InclParticleTransformer-MD/ak8/V02a/
Ntupler/data/InclParticleTransformer-MD/ak15/V02/
